<!DOCTYPE >
<html lang="en" xmlns:th="http://thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1.html">
<head>
    <meta charset="UTF-8">
    <title>manage users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid ">

        <div class="card">
            <div class="card-header">
                <h3>Manage Patients</h3>
                <form class="d-flex justify-content-end" th:action="@{/users}">
                    <input class="form-control w-50" type="search" name="keyword" placeholder="Search" aria-label="Search" th:value="${keyword}">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <div th:if="${message}" class="alert alert-success text-center">[[${message}]]</div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th>FIRSTNAME</th>
                        <th>LASTNAME</th>
                        <th>BIRTHDAY</th>
                        <th>ALLERGY</th>
                        <th>ANTECEDENT</th>
                        <th>CONSULTED</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="user:${listpatient}">
                        <tr>
                            <td>[[${user.firstname}]]</td>
                            <td>[[${user.lastname}]]</td>
                            <td>[[${user.dateNaissance}]]</td>
                            <td>[[${user.allergies}]]</td>
                            <td>[[${user.antecedent}]]</td>
                            <td> [[${user.enable}]]</td>
                            <td>
                                <a class="btn btn-success" th:href="@{'/users/edit/' +${user.id}}">Edit</a>
                                <a onclick="javascript:return confirm('voulez-vous vraiment supprimer  ?')" class="btn btn-danger" th:href="@{'/users/delete/' +${user.id},keyword=${keyword}}">Delete</a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" th:each="page,status:${totalPages}">
                            <a  th:Href= "@{/users(page=${status.index},keyword=${keyword})}"
                                th:text="${status.index}"
                                th:class="${currentPage==status.index? 'btn btn-info':'btn btn-outline-info'}"
                            ></a>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>